/* Top area menu */
/* 고객문의_ faq */
.list_faq.list_faq_cs .head span.num {width:65px;}
.list_faq.list_faq_cs .head span.sec {width:140px}
.list_faq.list_faq_cs .head span.subj {width:485px;}
.list_faq.list_faq_cs ul li .q p.num {width:65px;}
.list_faq.list_faq_cs ul li .q p.sec {width:140px;text-align:center;}
.list_faq.list_faq_cs ul li .q p.subject {width:485px;}
.list_faq.list_faq_cs ul li.folded .q p.subject a {background:url("../images/btn_fold_faq.gif") no-repeat 465px 9px;}
.list_faq.list_faq_cs ul li.unfolded .q p.subject a {background:url("../images/btn_fold_faq.gif") no-repeat 465px -18px;}

/* 고객문의_ 고객의소리 */
.voiceTop {width:690px;height:182px;margin-bottom:30px;background:url("../images/bg_voice1.gif") no-repeat;}
.voiceTop div {float:left;width:300px;padding:30px 0 0 45px;}
.voiceTop div ul {margin:11px 0 18px 0;}
.voiceBottom {position:relative;z-index:0;width:690px;height:105px;margin-top:40px;background:url("../images/bg_voice2.gif") no-repeat;}
.voiceBottom a.btn_inquireMall {position:absolute;z-index:0;left:226px;top:56px;}
.voiceBottom a.btn_consult {position:absolute;z-index:0;right:33px;top:34px;}

/* MyPage 상담내역 */
.my_page2 h5{padding-bottom:15px;}
.my_page2 table.list {margin-bottom:30px}
.mypages_sub .myinfor li {padding-bottom:15px;}
.mypages_sub .myinfor strong {margin-bottom:-3px}
.mypages_sub .myinfor li {overflow:visible; *zoom:1}
.mypages_sub .myinfor li:after {content:""; display:block; clear:both}
.mypages_sub .myinfor li a.btn {margin-top:-4px}
.mypages_sub .myinfor .inner {margin-bottom:12px}
.mypages_sub .myinfor .inner {position:relative; float:right; width:497px; margin:18px 0 18px 0; color:#333;}
.mypages_sub .myinfor .inner em {color:#cc0000; font-weight:bold; font-style:normal;}
.mypages_sub .myinfor .inner dl {overflow:hidden; width:253px; margin-top:5px; color:#555; font-size:11px; font-weight:bold;}
.mypages_sub .myinfor .inner dt {float:left;}
.mypages_sub .myinfor .inner dd {float:right; width:145px; text-align:right;}
.mypages_sub .myinfor .inner dd span {color:#ef3800; font-weight:normal;}
.mypages_sub .myinfor .inner .btn {position:absolute; right:83px;}

/* 만족도 설문조사_응대 */
* {border:0; font-family:'돋움',Dotum; font-size:12px;}
.mb6 {margin-bottom:6px;}
div.all_area {width:600px;}
div.content_area {border:10px solid #b5a790; border-bottom:none; width:560px;}
div.content_header {width:580px;}
div.content_header p.img {margin-right:10px;}
div.content_header dl {position:absolute; top:70px;}
div.content_header dl dt {margin:37px 0 3px 187px;}
div.content_header dl dd {margin-top:7px; margin-left:187px; line-height:18px; color:#555555;}
div.content_header dl dd.dd2 {margin:6px 0 0 187px; line-height:18px; color:#555555;}

div.agree_text {margin:21px 0 30px 25px;}
div.agree_text strong {line-height:18px; color:#333333}
div.agree_text label {margin-right:20px; color:#555555;}

div.bx_mail_agreement {margin-top:6px; width:520px; height:108px; position:relative; background:url("../images/bx_mail_agreement.gif") left top no-repeat; *zoom:1}
div.bx_mail_agreement ol {font-size:11px; padding:7px 0 0 15px;}
div.bx_mail_agreement ol li {margin-top:10px; margin-bottom:10px; color:#333; font-weight:bold}
div.bx_mail_agreement ol li p {color:#555; line-height:1.5em; padding:5px 0 3px 16px; font-weight:normal}
div.agree_select {text-align:center; margin-top:10px;}

div.agree_answer {margin-left:20px;}
div.agree_answer span {line-height:18px; color:#333333;}
div.agree_answer label {line-height:18px; color:#888888;}
div.agree_answer label.mg13 {margin:0 13px 0 13px;}
div.agree_answer label.mgr13 {margin-right:13px;}

div.btn_area {text-align:center; margin-top:14px;}
div.bot {width:580px;  border-right:10px solid #b5a790; border-left:10px solid #b5a790; border-bottom:10px solid #b5a790; background:url("../images/img_paper_right.gif") no-repeat bottom right; height:50px; }
h1.h1_style {padding:0; margin:0;}


/* Footer area menu */
/* Franchise_advantage(가맹점문의_엔제리너스 특장점) */
.advantage {margin-left:15px;width:666px;height:661px;background:url("../images/advantage_cont.jpg") no-repeat}

/* Franchise_franchise condition(가맹점문의_개설조건 및 절차) */
.franchise_condition h4{padding-bottom:13px}
.franchise_condition h5{padding-bottom:9px}
.franchise_condition .list_type1 li{padding-bottom:3px;}
.franchise_condition .setup_process{width:692px;height:116px;margin-bottom:30px;background:url("../images/setup_process_bg.jpg") no-repeat}/*m4one*/
.franchise_condition .setup_process ul{position:relative;width:692px;height:116px;;}
.franchise_condition .setup_process ul li{position:absolute;left:0;top:0;}
.franchise_condition .setup_process ul li.s1{left:24px;top:18px;}
.franchise_condition .setup_process ul li.s2{left:222px;top:13px;}
.franchise_condition .setup_process ul li.s3{left:390px;top:21px;}
.franchise_condition .setup_process ul li.s4{left:566px;top:20px;}
.franchise_condition .setup_process ul li.s5{left:572px;top:82px;}
.franchise_condition .setup_process ul li.s6{left:391px;top:74px;}
.franchise_condition .setup_process ul li.s7{left:223px;top:83px;}
.franchise_condition .setup_process ul li.s8{left:61px;top:83px;}

/* Franchise_invest(가맹점문의_투자예상금액) */
/* contents_table basic style(Franchise_투자예상금액) */
table.basic {width:100%;border-top:1px solid #655a4c}
table.basic thead tr{border-left:1px solid #775d44;border-right:1px solid #775d44}
table.basic thead tr th{height:27px;border-left:1px solid #ccc4b2;border-bottom:1px solid #867765;font-size:11px;font-weight:bold;background-color:#775d44;color:#fff;text-align:center}
table.basic thead tr th.first{border-left:none}
table.basic thead tr .wStar {width:*}
table.basic thead tr .w163{width:163px}
table.basic thead tr .w263{width:263px}
table.basic thead tr .w264{width:264px}
table.basic tbody tr th{height:27px;border-right:1px solid #ccc4b2;border-bottom:1px solid #ccc4b2;font-size:11px;text-align:center}
table.basic tbody tr th.first{border-left:1px solid #ccc4b2}
table.basic tbody tr td{height:27px;border-right:1px solid #ccc4b2;border-bottom:1px solid #ccc4b2;font-size:11px;text-align:center}
table.basic tfoot tr th{height:27px;border-right:1px solid #ccc4b2;border-bottom:1px solid #ccc4b2;font-size:11px;text-align:center}
table.basic tfoot tr th.first{border-left:1px solid #ccc4b2}
table.basic tfoot tr td{height:27px;border-right:1px solid #ccc4b2;border-bottom:1px solid #ccc4b2;font-size:11px;text-align:center}
table.basic .double_line{padding:8px 0}
.invest h4{padding-bottom:13px}
.invest h5{padding-bottom:9px}
.invest .anno{display:block;padding-top:10px}
.invest .list_type2 li{padding-bottom:3px;}

/* Franchise_loan(가맹점문의_창업자금 대출안내) */
/*.loan{background:url("../images/bg_loan.png") 339px 67px no-repeat;}
.loan2{background:url("../images/bg_loan.png") 339px 560px no-repeat;}
.loan3{background:url("../images/bg_loan.png") 339px 400px no-repeat;}
.loan4{background:url("../images/bg_loan.png") 360px 134px no-repeat;}*/
.loan h5{padding-bottom:13px}
.loan h6{padding-bottom:9px}
.loan .refer{display:block}
.loan_cost li{margin-left:-7px;background:none}
.loan_condition li{padding-bottom:3px}
.bank_hana li{padding-bottom:3px}
.bank_shinhanx li{padding-bottom:3px}
.sublist{padding-left:11px;background:url("../images/slash_list.gif") 0 3px no-repeat}
.bank_shinhan{height:900px; line-height: 16px;}
.bank_shinhan h5{font-family:Nanum Gothic;font-weight:600;line-height:18px;font-size:18px;color:#190c00}
.bank_shinhan h6{font-family:Nanum Gothic;font-weight:800;line-height:13px;font-size:13px;padding:20px 0 10px 0;color: #573111;}
.bank_shinhan table{width:100%}
.bank_shinhan table.hana{width:60%}
.bank_shinhan table thead tr th{font-family:Nanum Gothic;font-weight:800;line-height:13px;font-size:12px;padding:14px 0;text-align:center;border-top:1px solid #ccc4b2;border-right:1px solid #ccc4b2;border-bottom:1px solid #666666}
.bank_shinhan table tbody tr td{font-family:Nanum Gothic;font-weight:800;line-height:13px;font-size:12px;border-bottom:1px solid #ccc4b2;border-right:1px solid #ccc4b2;text-align:center;padding:14px 0}

.bank_hana{height: 1100px;}

/* 2015-10-20 우리은행 대출 추가 */
.bank_woori{height:900px; line-height: 16px;}
.bank_woori h5{font-family:Nanum Gothic;font-weight:600;line-height:18px;font-size:18px;color:#190c00}
.bank_woori h6{font-family:Nanum Gothic;font-weight:800;line-height:13px;font-size:13px;padding:20px 0 10px 0;color: #573111;}
.bank_woori table{width:100%}
.bank_woori table.hana{width:60%}
.bank_woori table thead tr th{font-family:Nanum Gothic;font-weight:800;line-height:13px;font-size:12px;padding:14px 0;text-align:center;border-top:1px solid #ccc4b2;border-right:1px solid #ccc4b2;border-bottom:1px solid #666666}
.bank_woori table tbody tr td{font-family:Nanum Gothic;font-weight:800;line-height:13px;font-size:12px;border-bottom:1px solid #ccc4b2;border-right:1px solid #ccc4b2;text-align:center;padding:14px 0}



.blrn{border-right: none!important;}
.ptop{padding-top:10px}
.fc1{color:#cc0000}
.fc2{color:#854e20}
.ft1{font-family:Nanum Gothic;font-weight:800;line-height:12px;font-size:12px;color:#5f5555}
.ml15{margin-left:15px !important;}
/* Franchise_loan(가맹점문의_개설관련 FAQ) */
.list_faq {padding-bottom:2px;background:url("../images/line_boardlist_bottom.gif") left bottom no-repeat;}
.list_faq .head {height:30px;background:url("../images/bg_board_faq_head.gif") left top no-repeat;}
.list_faq .head_openFaq {height:30px;background:url("../images/bg_board_openfaq_head.gif") left top no-repeat;}
.list_faq .head span {float:left;text-align:center;}
.list_faq .head span.num {width:105px}
.list_faq .head span.subj {width:585px}
.list_faq .head span img {padding:9px 0 0 0}
.list_faq ul {*zoom:1}
.list_faq ul:after {content:"";display:block;clear:both;}
.list_faq ul li {border-bottom:1px solid #ccc4b2;}
.list_faq ul li.last {border-bottom:0 none;}
.list_faq ul li {float:left;display:inline;width:100%;} /* ie6,7 수직 빈 공간값 제거 hack */
.list_faq ul li .q {height:30px;}
.list_faq ul li .q .no_result{float:none;font-family:Nanum Gothic;font-size:11px;font-weight:600;color:#333;text-align:center;}
.list_faq ul li .q p {float:left;height:30px;font-family:Nanum Gothic;font-size:11px;font-weight:600;color:#333;line-height:30px;}
.list_faq ul li .q p.num {width:105px;text-align:center;}
.list_faq ul li .q p.subject {width:585px;}
.list_faq ul li .q p.subject a {display:block;font-family:Nanum Gothic;font-size:11px;font-weight:600;color:#333;line-height:30px;}
.list_faq ul li .q p img.new {margin-left:5px;vertical-align:middle;}
.list_faq ul li.folded .q p.subject a {background:url("../images/btn_fold_faq.gif") no-repeat 565px 9px;}
.list_faq ul li.unfolded .q p.subject a {background:url("../images/btn_fold_faq.gif") no-repeat 565px -18px;}
.list_faq ul li .a {display:none;padding:6px 40px 5px 65px;background:url("../images/bg_faq_reply.gif") 0 0 repeat-y;border-top:1px solid #ccc4b2;vertical-align:top;font-family:Nanum Gothic;font-size:11px;line-height:20px;color:#573111;}/*m4one*/
.list_faq ul li .a p, .list_faq ul li .a strong, .list_faq ul li .a span {font-family:Nanum Gothic;font-size:11px;line-height:20px;color:#573111;}/*m4one*/
.list_faq ul li .a strong {font-weight:800;}/*m4one*/

/* Franchise_loan(찾아오시는 길) */ /* 2014-12-26 카테고리변경 */
#hn.hn9.sn9 .tabStyle h4.tab1 {left:0}
#hn.hn9.sn9 .tabStyle h4.tab2 {left:67px}
#hn.hn9.sn9 .tabStyle h4.tab3 {left:139px}
#hn.hn9.sn9 .tabStyle h4.tab4 {left:207px}
#hn.hn9.sn9 .tabStyle h4.tab5 {left:284px}
#hn.hn9.sn9 .tabStyle h4.tab6 {left:361px}
#hn.hn9.sn9 .tabBox {display:none}
#hn.hn9.sn9 .tabBox.on {display:block}
.map .tabBox {padding-top:49px}
.map .location{padding-bottom:10px}
.map .info{position:relative}
.map .info strong{display:block;padding-bottom:5px;font-family:Nanum Gothic;font-size:12px;color:#333333}
.map .info span{display:block;padding-bottom:5px;font-family:Nanum Gothic;font-size:11px;color:#333333;}
.map .info a{position:absolute;right:0;top:5px;z-index:1}

/* Recruit(채용안내) */
#hn.hn10.sn1 .tabStyle h4.tab1 {left:0}
#hn.hn10.sn1 .tabStyle h4.tab2 {left:67px}
#hn.hn10.sn1 .tabStyle h4.tab3 {left:155px}
#hn.hn10.sn1 .tabBox {display:none}
#hn.hn10.sn1 .tabBox.on {display:block}
.recruit{padding-top:59px;}
.recruit .persys{width:690px;height:526px;background:url("../images/bg_persys.gif") left top no-repeat;}
.recruit h5{padding-bottom:15px;}
.recruit h6{padding-bottom:9px;}
.recruit p{padding-bottom:25px;}
.recruit p{padding-bottom:25px;}
.recruit ul{padding-bottom:25px;}
.recruit ol{padding-bottom:22px;}
.recruit ol li{padding-bottom:2px;}
.recruit .hireinfo{width:690px;height:745px;background:url("../images/bg_hireinfo.gif") right bottom no-repeat;}
.recruit .barista{width:411px;height:283px;padding-left:279px;background:url("../images/bg_barista_1.gif") left top no-repeat;}
.recruit .barista_form{width:564px;height:81px;padding:15px 0 0 126px;background:url("../images/bg_barista_form.gif") right bottom no-repeat;}
.recruit .barista_form h5{padding-bottom:7px;}
.recruit .barista_form .txt{padding-bottom:13px;font-size:11px;color:#555555;letter-spacing:-1px;}

/* Recruit(채용 지원) */
div.job_form h5{padding-bottom:15px;}
div.job_form ul{padding-bottom:25px;}
div.job_form ul li{padding-bottom:5px;}
div.job_form ul li .btn_down{display:block;padding-bottom:5px;}
div.job_form p.com_txt{padding-bottom:25px;}

/* popup_ 사이트이용약관/개인정보취급방침 */
.Popup2 .head {position:relative;z-index:0;}
.Popup2 .head strong {position:absolute;z-index:0;right:0;top:0;width:154px;height:40px;background:url("../images/logo_popup_top.png") right top no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/logo_popup_top.png", sizingMethod="crop");text-indent:-9999px}
.Popup2 .head h1 {float:left;}
.Popup2 .con {overflow-x:hidden;overflow-y:auto;width:480px;height:440px;margin:15px;}
.Popup2 .con dl {padding:10px 13px 0 0;}
.Popup2 .con dl dt {font-family:Nanum Gothic;font-weight:800;}
.Popup2 .con dl dd {margin:5px 0 10px 0;}
.Popup2 .con p, .Popup2 .con ul li, .Popup2 .con a, .Popup2 .con strong {font-family:Nanum Gothic;font-weight:600;line-height:18px;}

.search_file span {height:22px;font-family:Nanum Gothic;font-weight:600;line-height:22px;}


/* event_20140415 역린 당첨자발표 */
.event_0415{position:relative;}
.event_0415 .tbl_wrap{position:absolute; top:685px; width:469px; left:115px;}
.event_0415 .tbl_wrap table{width:100%; border-collapse:collapse; font-size:13px;}
.event_0415 .tbl_wrap table caption{position:absolute; display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
.event_0415 .tbl_wrap table td{border:1px solid #cfcfcf; padding:2px 0; text-align:center;}

.notice_privacy {width:610px;background:#f1f1f1 url(../images/notice_privacy_top.jpg) 50% 0 no-repeat;padding:275px 27px 15px 27px;margin:0 auto;}
.notice_privacy .date_box {padding:15px 30px;background:#fff;border-top:1px #1f4787 solid;border-bottom:1px #1f4787 solid;}
.notice_privacy .date_box ul li {padding-top:10px;color:#363636; font-size:13px; font-family:Nanum Gothic, dotum !important}
.notice_privacy .date_box ul li strong {font-size:13px;  font-family:Nanum Gothic, dotum !important}
.notice_privacy .date_box ul li:first-child {padding-top:0; font-size:13px}
.notice_privacy .date_box ul li .link {color:#ee0008; font-size:13px; font-weight:bold !important; font-family:Nanum Gothic, dotum !important}	