<!-- footer -->
<div id="footerAc">
    <div class="footerTop">
        <div class="footerTopInner o-footer-navi-wrap">
            <img class="footerLogo" src="{IMG_PATH}footlogo.png" alt="Angel-in-us Coffee"/>
        </div>
    </div>
    <div class="footerInnerWrap">
        <div class="footerInner">
            <div class="topAc">
                <a href="javascript:void(0);">武汉豆花</a>ㅣ
                <a href="javascript:void(0);">武汉仙草</a>ㅣ
                <a href="javascript:void(0);" class="em">武汉豆花妈妈食品有限公司</a>ㅣ
                <a href="javascript:void(0);">武汉芋圆</a>ㅣ
                <a href="javascript:void(0);">武汉饮品</a>
                <span style="margin-left: 68px;">联系电话：027-86715369     QQ：176777128</span>

            </div>
            <div class="midAc"><br/>
                版权所有：武汉豆花妈妈食品有限公司 地址：湖北大学西门学院路喻家湖148附24号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全国加盟热线：400-888-0279  18627978633  13554310263
            </div>
            <div class="bottomAc"><br/>

            </div>
            <div class="footAward">

            </div>
        </div>
    </div>
</div>

<!-- LogInside(E-Biz) Version 6.0i START -->
<script>
    var NL_ag = 0;
    var NL_id = '';    // 로그인사용자 아이디
    var NL_mr = '';        // 로그인사용자 결혼여부 ('single' , 'married')
    var NL_gd = '';           // 로그인사용자 성별 ('man' , 'woman')
    var NL_skey = '';             // 내부검색어
    var NL_jn = '';               // 가입탈퇴 여부 ( 'join','withdraw' )
    var NL_jid = '';				// 회원가입시 입력한 ID
    var NL_ud1 = '';				// 사용자정의변수 1 ( 1~ 7 정수값)
    var NL_ud2 = '';				// 사용자정의변수 2 ( 1~ 7 정수값)
    var NL_ud3 = '';				// 사용자정의변수 3 ( 1~ 7 정수값)
</script>
<!-- //footer -->
<script>
    var G_HEAD_TIP_HANDLE = null;

    // 头部的微信JS
    $(".icon-wx,.icon-wb").on('mouseover', function (e) {
        clearTimeout(G_HEAD_TIP_HANDLE);
        $(this).addClass('active');
        if ($(this).attr("class").toString().split(" ")[1] == "icon-wx") {
            $('.top-wx').show();
            $('.icon-wb').removeClass('active');
        }
        else {
            $('.icon-wx').removeClass('active');
            $('.top-wx').hide();
        }
    }).on('mouseout', function (e) {
        G_HEAD_TIP_HANDLE = setTimeout(function () {
            $('.icon-wx').removeClass('active');
            $('.top-wx').hide();
            $('.icon-wb').removeClass('active');
        }, 500);
    });
</script>

</body>
</html>