{template "content","header"}
<!--main-->
<!-- //containerWrap -->
<div id="containerWrapAc">
    <div class="visWrap">
        {pc:get sql="SELECT setting FROM dh_poster WHERE spaceid = 11 AND type='images' AND disabled=0 ORDER BY listorder ASC" num="5" return="ad_list"}
        {loop $ad_list $r}
        {php $narray = json_decode($r['setting'],1);}
        <p class="visBg" data-theme="bright" style="background-image:url({$narray[1]['imageurl']});">{$narray[1]['alt']}</p>
        {/loop}
        <div class="visCon">
            {loop $ad_list $r}
            <p class="titleAc">
                <a href="{$r['url']}"><img src="{$r['thumb']}" alt="{str_cut($r['title'],30)}"/>{str_cut($r['title'],30)}</a>
            </p>
            {/loop}
            <div class="cirBtnWrap">
                <div class="cirBtn o-visual-paging">

                </div>
                <div class="autoPlay"></div>
            </div>
        </div>
    </div>
    <!-- content and aside -->
    <div id="containerAc">
        <!-- content area -->
        <div class="conTake">
            <div class="takeText">
                <strong><img src="{IMG_PATH}text.png"/> </strong>
                <p>健康美味食材.全新味觉享受</p>
            </div>
            <div class="takeContent">
                <div class="takeStore" style="background-image:url('{$banner[0]['imageurl']}')">
                    <a target="_blank" href="{$banner[0]['linkurl']}" alt="{$banner[0]['alt']}">
                            <span class="desc">
                                <span></span>
                                <strong>{$banner[0]['alt']}</strong>
                            </span>
                    </a>
                </div>

                <div class="takeProduct" style="background-image:url('{$banner[2]['imageurl']}')">
                    <a target="_blank" href="{$banner[2]['linkurl']}" alt="{$banner[2]['alt']}">
                            <span class="desc">
                                <i> </i>
                                <strong>{$banner[2]['alt']}</strong>
                            </span>
                    </a>
                </div>

                <div class="takeTv" style="background-image:url('{$banner[3]['imageurl']}')">
                    <a target="_blank" href="{$banner[3]['linkurl']}" alt="{$banner[3]['alt']}">
                            <span class="desc">
                                <i></i>
                                <strong>{$banner[3]['alt']}</strong>
                            </span>
                    </a>
                </div>

                <div class="takeMall" style="background-image:url('{$banner[1]['imageurl']}')">
                    <a href="{$banner[1]['linkurl']}" target="_blank" title="{$banner[1]['alt']}">
                            <span class="desc">
                                <i></i>
                                <strong> {$banner[1]['alt']}</strong>
                            </span>
                    </a>
                </div>

                <div class="takeWithAc" style="background-image:url('{$banner[4]['imageurl']}')">
                    <a href="{$banner[4]['linkurl']}" target="_blank" title="{$banner[4]['alt']}">
                            <span class="desc">
                                <i></i>
                                <strong>{$banner[5]['alt']}</strong>
                            </span>
                    </a>
                </div>

                <div class="takeAcademy" style="background-image:url('{$banner[5]['imageurl']}')">
                    <a href="{$banner[5]['linkurl']}" target="_blank" title="{$banner[5]['alt']}">
                            <span class="desc">
                                <i></i>
                                <strong>{$banner[5]['alt']}</strong>
                            </span>
                    </a>
                </div>


                <div class="takeNews">
                    <table>
                        <thead>
                        <tr>
                            <th class="fir"><strong>NEWS &amp; NOTICE</strong></th>
                            <th>
                                <a target="_blank" href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=45">+
                                    MORE</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {pc:content action="lists" catid="45" num="4" order="id DESC" return="info"}
                        {loop $info $v}
                        <!--<li>·<a href="{$v['url']}" target="_blank" title="{$v['title']}" {title_style($v[style])}>{str_cut($v['title'],40)}</a>  </li>-->
                        <tr>
                            <td class="fir">
                                <a href="{$v['url']}" target="_blank" title="{$v['title']}">・{str_cut($v['title'],70)}</a>
                            </td>
                            <td>{date('Y-m-d',$v[inputtime])}</td>
                        </tr>

                        {/loop}
                        {/pc}

                        </tbody>
                    </table>
                </div>

                <script type="text/javascript" language="javascript">
                    (function (factory) {
                        if (typeof define === 'function' && define.amd) {
                            define(['jquery'], factory)
                        } else {
                            factory(jQuery)
                        }
                    }(function ($) {
                        var pluses = /\+/g;

                        function raw(s) {
                            return s
                        }

                        function decoded(s) {
                            return decodeURIComponent(s.replace(pluses, ' '))
                        }

                        function converted(s) {
                            if (s.indexOf('"') === 0) {
                                s = s.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, '\\')
                            }
                            try {
                                return config.json ? JSON.parse(s) : s
                            } catch (er) {
                            }
                        }

                        var config = $.cookie = function (key, value, options) {
                            if (value !== undefined) {
                                options = $.extend({}, config.defaults, options);
                                if (typeof options.expires === 'number') {
                                    var days = options.expires, t = options.expires = new Date();
                                    t.setDate(t.getDate() + days)
                                }
                                value = config.json ? JSON.stringify(value) : String(value);
                                return (document.cookie = [config.raw ? key : encodeURIComponent(key), '=', config.raw ? value : encodeURIComponent(value), options.expires ? '; expires=' + options.expires.toUTCString() : '', options.path ? '; path=' + options.path : '', options.domain ? '; domain=' + options.domain : '', options.secure ? '; secure' : ''].join(''))
                            }
                            var decode = config.raw ? raw : decoded;
                            var cookies = document.cookie.split('; ');
                            var result = key ? undefined : {};
                            for (var i = 0, l = cookies.length; i < l; i++) {
                                var parts = cookies[i].split('=');
                                var name = decode(parts.shift());
                                var cookie = decode(parts.join('='));
                                if (key && key === name) {
                                    result = converted(cookie);
                                    break
                                }
                                if (!key) {
                                    result[name] = converted(cookie)
                                }
                            }
                            return result
                        };
                        config.defaults = {};
                        $.removeCookie = function (key, options) {
                            if ($.cookie(key) !== undefined) {
                                $.cookie(key, '', $.extend({}, options, {expires: -1}));
                                return true
                            }
                            return false
                        }
                    }));

                    $.fn.popupzoneSlide = function () {
                        return this.each(function () {
                            var dur = 3000,
                                    isAuto = true,
                                    timer,
                                    index = 0,
                                    $container = $(this).find("ul"),
                                    $item = $container.find("> li"),
                                    $btns = $item.find("> span > a"),
                                    max = $item.length;

                            function showBanner(number) {
                                $item.removeClass("on");
                                $item.eq(number).addClass("on");
                                index = number;
                            }

                            $btns.click(function () {
                                clearTimeout(timer);
                                var t = $btns.index($(this)[0]);
                                showBanner(t);
                                return false;
                            });
                            showBanner(0);
                        });
                    };

                    $.fn.popupzone = function () {
                        return this.each(function () {
                            var $popup = $(this),
                                    $closeBtn = $popup.find("div.ckeck > a"),
                                    $check = $popup.find("input#close"),
                                    $banner = $popup.find("> div > div");

                            function open() {
                                $popup.animate({
                                    "height": "214px"
                                }, {
                                    queue: false,
                                    duration: 300
                                });
                            }

                            function close() {
                                if ($check.is(":checked")) {
                                    $.cookie("popupzone", "disabled", {expires: 1, path: "/"});
                                }
                                $popup.animate({
                                    "height": "0px"
                                }, {
                                    queue: false,
                                    duration: 300,
                                    complete: function () {
                                        $popup.remove();
                                    }
                                });
                            }

                            $closeBtn.bind("click", function () {
                                close();
                                return false;
                            });
                            var pzCoockie = $.cookie("popupzone");
                            if (pzCoockie == "disabled") {
                            } else {
                                open();
                                $banner.popupzoneSlide();
                            }
                        });
                    };

                    $(".popup").popupzone();
                </script>
            </div><!-- //content -->
        </div><!-- //content and aside -->
    </div>
</div>
<style type="text/css">
    .advice {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #fff;
        border-color: #dddddd #dddddd -moz-use-text-color;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 1px 0;
        margin-top: -215px;
        position: fixed;
        right: 0;
        text-align: center;
        top: 50%;
        width: 122px;
        z-index: 100;
    }
    .advice img {
        margin: 0 auto;
    }
    .advice .tel {
        color: #69a936;
        font: 14px "微软雅黑";
        padding: 20px 0;
    }
    .advice .qq li {
        border-top: 1px solid #dbd7d7;
        padding: 10px 0;
    }
    .advice .qq li img {
        display: block;
        margin: 0 auto 5px;
    }
    .advice .qq li a {
        color: #747474;
        font: 14px "微软雅黑";
    }
    .advice .callBack {
        background-color: #e3e3e3;
        color: #333333;
        font: 13px "微软雅黑";
        padding: 15px 0;
    }
    .advice .txt {
        border-left: 1px solid #c8c5c5;
        border-top: 1px solid #c8c5c5;
        color: #333333;
        font: 12px/22px "微软雅黑";
        height: 22px;
        margin-top: 5px;
        padding-left: 2px;
        width: 93px;
    }
    .advice .submit {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #69b92e;
        border-color: -moz-use-text-color -moz-use-text-color #69b92e;
        border-image: none;
        border-style: none none solid;
        border-width: 0 0 4px;
        color: #fff;
        cursor: pointer;
        font: bold 16px "微软雅黑";
        height: 34px;
        width: 100%;
    }
</style>
<div class="advice">
    <div class="tel">
        <img src="{IMG_PATH}banner/tel.jpg">
    </div>
    <ul class="qq">
        <li><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=im&amp;action=index&amp;ucid=3494351&amp;type=n&amp;siteid=1023685" target="_blank"><img src="{IMG_PATH}banner/bdsq.jpg">在线咨询</a></li>
        <li class="qqzx"><a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODE3MzkwMl8zMzYxNzlfNDAwODg4ODk2N18yXw"><img src="{IMG_PATH}banner/qq.jpg">QQ咨询</a></li>
    </ul>
</div>
<!-- //containerWrap -->
{template "content","footer"}