{template "content","header_min"}
<!--main-->
<div id="containerWrapAc" class="sub">
    <div class="visWrap" style="display: ;">

        <div class="visCon">
            <div class="titleAc">
                <h3 class="o-navi-visual-menu-name"><span>Taro Dumpling</span></h3>
                <strong class="o-navi-visual-title"><span>{$CAT['catname']}</span></strong>
                <p class="o-navi-visual-text"><span> The dessert tastes real good</span></p>
            </div>
            <div class="cirBtnWrap">
                <div class="cirBtn o-navi-visual-paging-area">
                    {loop $page_list $item}
                    <a href="{$item[url]}" {if $item['catid']==$catid} class="selected" {/if} target="_self"><span>{$item[catname]}</span></a>
                    {/loop}
                </div>
            </div>
            <div class="btnWrap o-navi-visual-button-area">
                {if $previous_page['catname'] != ''}<a class="prevAc" href="{$previous_page['url']}" target="_self">
                <strong>{$previous_page['catname']}</strong><span>LAST</span></a>{/if}
                {if $next_page['catname'] != ''}<a class="nextAc" href="{$next_page['url']}" target="_self"><strong>{$next_page['catname']}</strong>
                <span>NEXT</span></a>{/if}
            </div>
        </div>
        {if empty($CAT['image'])}
        <div class="visBg o-navi-visual" style="background-image: url({IMG_PATH}banner/product.jpg);"></div>
        {else}
        <div class="visBg o-navi-visual" style="background-image: url({$CAT['image']});"></div>
        {/if}
    </div>

    <div class="lnbWrap">
        <div class="lnbAc o-navi-tab o-navi-tab-fixed"></div>
    </div>
    <!-- content and aside -->
    <div class="conWrap">
        <div id="containerAc">
            <div id="content">
                <!-- content area -->
                {pc:content action="lists" catid="$catid" num="4" order="id DESC" page="$page"}
                <div id="hn" class="hn1 sn2">
                    <div class="section memu_list">
                        {php  $list = $data; $frist_project = array_shift($list);}
                        {if isset($frist_project)}
                        <div id="popMenuVeiw" class="pop_layer_menu pop_espresso" style="position: relative;">
                            <div id="divMenuView">
                                <div class="inner">
                                    <div class="cont">
                                        <img class="img_big" src="{$frist_project['image']}" alt="{$frist_project['title']}" width="688" height="299">
                                        <a href="javascript:void(0);" onclick="goClose();return false;" class="pop_close">关闭</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        <!-- 2015-11-05 커피 탭 추가 -->
                        <div id="menuList" class="list espresso"><!-- 에스프레소 -->
                            <ul id="ulMenuList">
                                {loop $data $r}
                                <li>
                                    <span class="label">{if $n<3}<span class="new"></span>{/if}</span>
                                    <div>
                                        <a href="javascript:void(0);" onclick="goView(this);return false;" style="cursor:pointer; _cursor:hand;">
                                            <img src="{$r[thumb]}" alt="{$r[title]}" width="130" height="145">
                                            <p>{$r[title]}</p>
                                            <input type="hidden" value="{$r['image']}">
                                        </a>
                                    </div>
                                </li>
                                {/loop}
                            </ul>
                        </div>

                        <!-- paging -->
                        <div class="paging">{$pages_dhmm}</div>
                        <!-- //paging -->

                        <!-- 리스트 하단 텍스트 영역 -->
                        <div class="comment">
                            <img src="{IMG_PATH}banner/footbanner.jpg" alt="">
                        </div>
                        <!-- 에스프레소 -->
                    </div>
                </div>

            </div><!-- //content -->
        </div><!-- //content and aside -->
    </div>
</div><!-- //containerWrap -->
<script type="text/javascript">
    function goClose() {
        $("#popMenuVeiw").hide();
    }

    function goView(obj) {

        $("#popMenuVeiw h3").html($(obj).find('p').html());
        $("#popMenuVeiw .img_big").attr('src', $(obj).find('input').val());
        $("#popMenuVeiw").show();
    }
</script>
{template "content","footer"}