{template "content","header_min"}
<!-- //containerWrap -->
<div id="containerWrapAc" class="sub">
    <div class="visWrap" style="display: ;">

        <div class="visCon">
            <div class="titleAc">
                <h3 class="o-navi-visual-menu-name"><span>{$title}</span></h3>
                <strong class="o-navi-visual-title"><span></span></strong>
                <p class="o-navi-visual-text"><span></span></p>
            </div>
            <div class="cirBtnWrap">
                <div class="cirBtn o-navi-visual-paging-area">
                    {loop $page_list $item}
                    <a href="{$item[url]}" {if $item['catid']==$catid} class="selected" {/if} target="_self"><span>{$item[catname]}</span></a>
                    {/loop}
                </div>
            </div>
            <div class="btnWrap o-navi-visual-button-area">
                {if $previous_page['catname'] != ''}<a class="prevAc" href="{$previous_page['url']}" target="_self"> <strong>{$previous_page['catname']}</strong><span>上一篇</span></a>{/if}
                {if $next_page['catname'] != ''}<a class="nextAc" href="{$next_page['url']}" target="_self"><strong>{$next_page['catname']}</strong> <span>下一篇</span></a>{/if}
            </div>
        </div>
        {if empty($CAT['image'])}
        <div class="visBg o-navi-visual" style="background-image: url({IMG_PATH}banner/visual_hn_4.jpg);"></div>
        {else}
        <div class="visBg o-navi-visual" style="background-image: url({$CAT['image']});"></div>
        {/if}

    </div>
    <div class="lnbWrap">
        <div class="lnbAc o-navi-tab o-navi-tab-fixed"></div>
    </div>
    <!-- content and aside -->
    <div class="conWrap">
        <div id="containerAc">
            <!-- content area -->
            <div id="content">
                <!-- content area -->
                {$content}
                <!-- //content area -->

            </div><!-- //content -->
        </div><!-- //content and aside -->
    </div>
</div><!-- //containerWrap -->
{template "content","footer"}