{template "content","header_min"}
<!-- //containerWrap -->
<div id="containerWrapAc" class="sub">
    <div class="visWrap" style="display: ;">

        <div class="visCon">
            <div class="titleAc">
                <h3 class="o-navi-visual-menu-name"><span>{$title}</span></h3>
                <strong class="o-navi-visual-title"><span>광고 속에서 엔제리너스커피를 만나보세요.</span></strong>
                <p class="o-navi-visual-text"><span>엔제리너스커피와 천사, 광고 속에서 만나보세요.</span></p>
            </div>
            <div class="cirBtnWrap">
                <div class="cirBtn o-navi-visual-paging-area">
                    <a href="/About/EnterpriseIntroduce.asp" target="_self"><span>엔제리너스 소개</span></a><a href="/About/BI.asp" target="_self"><span>엔제리너스 BI</span></a><a href="/About/store.asp" target="_self"><span>엔제리너스 매장</span></a><a href="/About/specialty.asp" target="_self"><span>Specialty Coffee</span></a><a href="/About/SocietyContribute_2014.asp" target="_self"><span>사회공헌</span></a><a class="selected" href="/About/VideoAdvertise_List.asp" target="_self"><span>광고 자료</span></a><a href="/Board/Board.asp?BoardIdx=1" target="_self"><span>새소식</span></a><a href="/About/globalization.asp" target="_self"><span>Globalization</span></a>
                </div>
            </div>
            <div class="btnWrap o-navi-visual-button-area">
                <a class="prevAc" href="/About/SocietyContribute_2014.asp" target="_self"> <strong>ABOUT US</strong>
                    <span>사회공헌</span></a><a class="nextAc" href="/Board/Board.asp?BoardIdx=1" target="_self">
                <strong>ABOUT US</strong> <span>새소식</span></a></div>
        </div>
        <div class="visBg o-navi-visual" style="background-image: url({IMG_PATH}banner/visual_hn_4.jpg);"></div>

    </div>
    <div class="lnbWrap">
        <div class="lnbAc o-navi-tab o-navi-tab-fixed"></div>
    </div>
    <!-- content and aside -->
    <div class="conWrap">
        <div id="containerAc">
            <!-- content area -->
            <div id="content">
                <!-- content area -->
                {$content}
                <!-- //content area -->

            </div><!-- //content -->
        </div><!-- //content and aside -->
    </div>
</div><!-- //containerWrap -->
{template "content","footer"}