{template "content","header_min"}
<!-- //containerWrap -->
<div id="containerWrapAc" class="sub">
    <div class="visWrap" style="display: ;">
        <div class="visCon">
            <div class="titleAc">
                <h3 class="o-navi-visual-menu-name"></h3>
                <strong class="o-navi-visual-title"></strong>
                <p class="o-navi-visual-text"></p>
            </div>
            <div class="cirBtnWrap">
                <div class="cirBtn o-navi-visual-paging-area"></div>
            </div>
            <div class="btnWrap o-navi-visual-button-area"></div>
        </div>
        <div class="visBg o-navi-visual" style="background-image: url({IMG_PATH}banner/visual_hn_4.jpg);"></div>
    </div>
    <div class="lnbWrap">
        <div class="lnbAc o-navi-tab o-navi-tab-fixed"></div>
    </div>
    <!-- content and aside -->
    <div class="conWrap">
        <div id="containerAc">

            <!-- content area -->
            <div id="content">
                <!-- content area -->
                {$content}
                <!-- //content area -->

            </div><!-- //content -->
        </div><!-- //content and aside -->
    </div>
</div><!-- //containerWrap -->
{template "content","footer"}