/* selectbox to markup */
/*
span.selectbox_title {text-align:left; padding:1px 15px 2px 3px; border:1px solid #bfb9aa;background:#fff url("/images/common/ico_select.gif") no-repeat 100% 10px}
span.selectbox_title strong {width:100%;height:1em;font-family:Nanum Gothic;font-weight:600;color:#707070;word-break:break-all;line-height:1.2em;padding:2px 0 3px;_padding:3px 0 2px;display:block;overflow:hidden;}
span.selectbox_title_focus {border-color:#565656;}
span.selectbox_title_focus strong {color:#573111;}
span.selectbox_title_disabled {background-color:#eee;}
span.selectbox_title_disabled strong {color:#999;}
div.selectbox_option {border:1px solid #bfb9aa;background:#fff;overflow:hidden;}
div.selectbox_option li {list-style:none;}
div.selectbox_option a {height:1em;font-family:Nanum Gothic;font-weight:600;font-size:11px;color:#707070;word-break:break-all;line-height:1.3em;text-decoration:none;padding:2px 3px 5px;_padding:3px 3px 4px;display:block;overflow:hidden;}
div.selectbox_option a.on,div.selectbox_option a:hover {color:#573111;background:#f8f4eb;}
*/
span.selectbox_multiple {border:1px solid;border-color:#bfb9aa;background:#fff;display:inline-block;overflow:hidden;}
span.selectbox_multiple ul li {height:1em;font-size:1em;color:#333;word-break:break-all;line-height:1.3em;padding:1px 3px 4px;_padding:2px 3px 3px;display:block;overflow:hidden;}
span.selectbox_multiple ul li.on {color:#333; background:#ccc;}
span.selectbox_multiple_focus {border-color:#ccc;}
span.selectbox_multiple_focus ul li.on {color:#000;background:#f3f3f3;}
span.selectbox_multiple_disabled {background-color:#f3f3f3;}
span.selectbox_multiple_disabled ul li {color:#565656;}

span.path_select {padding:2px 3px 2px 3px; border:0 none;background:#fff}

.nooption{
	border: 1px solid #B7B6B6;
	background: #FFFFFF;
	color: #000000;
	font-family:, Dotum, Arial, sans-serif;
	font-size: 12px;
	vertical-align: middle;
}


/* selectbox to markup 
span.selectbox_title {text-align:left; padding:2px 15px 2px 3px; border:1px solid #bfb9aa;background:#fff url(/images/common/ico_select.gif) no-repeat 100% 7px}
span.selectbox_title strong {width:100%;height:1em;font-weight:normal;font-size:11px;color:#565656;word-break:break-all;line-height:1.2em;padding:1px 0 2px;_padding:2px 0 1px;display:block;overflow:hidden;}
span.selectbox_title_focus {border-color:#565656;}
span.selectbox_title_focus strong {color:#573111;}
span.selectbox_title_disabled {background-color:#eee;}
span.selectbox_title_disabled strong {color:#999;}
div.selectbox_option {border:1px solid #bfb9aa;background:#fff;overflow:hidden;}
div.selectbox_option li {list-style:none;}
div.selectbox_option a {height:1em;font-size:0.9em;color:#565656;word-break:break-all;line-height:1.3em;text-decoration:none;padding:2px 3px 5px;_padding:3px 3px 4px;display:block;overflow:hidden;}
div.selectbox_option a.on,div.selectbox_option a:hover {color:#573111;background:#f8f4eb;}
span.selectbox_multiple {border:1px solid;border-color:#bfb9aa;background:#fff;display:inline-block;overflow:hidden;}
span.selectbox_multiple ul li {height:1em;font-size:1em;color:#333;word-break:break-all;line-height:1.3em;padding:1px 3px 4px;_padding:2px 3px 3px;display:block;overflow:hidden;}
span.selectbox_multiple ul li.on {color:#333; background:#ccc;}
span.selectbox_multiple_focus {border-color:#ccc;}
span.selectbox_multiple_focus ul li.on {color:#000;background:#f3f3f3;}
span.selectbox_multiple_disabled {background-color:#f3f3f3;}
span.selectbox_multiple_disabled ul li {color:#565656;}

span.path_select {padding:2px 3px 2px 3px; border:0 none;background:#fff}

.nooption{
	border: 1px solid #B7B6B6;
	background: #FFFFFF;
	color: #000000;
	font-family:, Dotum, Arial, sans-serif;
	font-size: 12px;
	vertical-align: middle;
}
*/